body {
  background-color:lightblue;
}


#highlight-left {
  background:url("https://jolly-kalam-23776e.netlify.app/restaurantwebsite/images/taco.jpg");
  width:57vw;
  height:35vh;
  background-position:right center;
}

.hightlight-right{
  display: flex;
  justify-content: center;
}


.hpV{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 300;
  border: 2px,solid,black;
}

.hpI{
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 700;
  font-family: 'Rowdies', cursive;
}

.sideMargin{
  margin:0;
  padding:0;
}

.catRw{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catCard{
 background-color: white;
 width: auto;
 height: auto;
 padding-top:3px;
 padding-bottom:3px;
 padding-left:8px;
 padding-right:8px;
}

.catIcon{
  font-size: 2rem;
  display:flex;
  justify-content: center;

}
.catLabel{
  display:flex;
  justify-content: center;
  font-weight:700;
  font-size: 0.7rem;
}

.catDesc{
  display:flex;
  justify-content: center;
  text-align: center;
  font-weight:800;
  font-size:0.5rem;
}